DATABASE_URL=postgresql://postgres:postgres@localhost:5432/ndi_credentials
JWT_SECRET=replace-with-a-long-random-secret
API_PORT=4000
WEB_ORIGIN=http://localhost:3000
UPLOAD_DIR=./uploads
CHAIN_RPC_URL=http://localhost:8545
PRIVATE_KEY=0xac0974bec39a17e36ba4a6b4d238ff944bacb478cbed5efcae784d7bf4f2ff80
CREDENTIAL_REGISTRY_ADDRESS=
NDI_MOCK_ISSUER=https://mock-ndi.bt
NDI_AUTH_BASE_URL=https://staging.bhutanndi.com
NDI_API_BASE_URL=https://demo-client.bhutanndi.com
NDI_CLIENT_ID=
NDI_CLIENT_SECRET=
NDI_DEFAULT_SCHEMA_NAME=https://dev-schema.ngotag.com/schemas/foundational-id
NDI_WEBHOOK_ID=ndi-credential-chain
NDI_WEBHOOK_URL=
NDI_WEBHOOK_OAUTH_URL=
NDI_WEBHOOK_CLIENT_ID=ndi-credential-chain
NDI_WEBHOOK_CLIENT_SECRET=
